import "examples/core.tt";
import "examples/eq.tt";

assume ($A :: Set) ($x :: $A) ($y :: $A) ($eq_x_y :: Eq $A $x $y);

let (_, _) =
    sc_with_proof (eq_id $A $x $y $eq_x_y);

let (_, _) =
    sc_with_proof (Refl $A $x);
